h1 {
    color: red;
}
ul {
	color: red;
}
a { 
	color: red;
}
ul {
	font-size: 1.2em;
}
ol { 
    color: orangered; 
}
ol {
	font-size: 1.2em;
}
h2 { 
    color: fuchsia;
}
body {
background-color: purple
}
img {
      width: 500px;
}

